/clients
/node_modules
/public/hot
/public/storage
/public/lottery
/storage/*.key
/vendor
/.idea
/.vagrant
/Log
/Temp
dev.php
easyswoole
EasySwooleEvent.php
produce.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
vendor.zip
composer.lock
public/swhttpserver.pid
public/swlog.txt